# Chapter 1:  Python Objects, Types, and Expressions

### 1_DSA_12_01_25

In [1]:
a = [2, 5, 7]
b = a
a.append(8)
print(a)

[2, 5, 7, 8]

In [2]:
a = 1
type(a)

int

In [3]:
a = a + 0.1
type(a)

float

In [4]:
a = 10; b = 20
def my_function():
    global a
    a = 11; b = 21
my_function()
print(a)
print(b)

11
20

# If-Else Statements

In [8]:
x = 'one'
if x == 0:
    print('False')
elif x==1:
    print('True')
else: print('Something else')

Something else

In [9]:
x = 0
while x < 3:
    print(x)
    x += 1

0
1
2

In [1]:
s = "rushikesh"

In [13]:
s.expandtabs(8)

'rushikesh'

In [14]:
s.find('r')

0

In [15]:
s.isalnum()

True

In [16]:
s.isalpha()

True

In [21]:
b = "123"
b.isalnum()

True

In [22]:
s.isdigit()

False

In [23]:
b.isdigit()

True

In [24]:
c = '4.5'
c.isdigit()

False

In [30]:
s.join('c')

'c'

In [33]:
s.upper()

'RUSHIKESH'

In [34]:
s.replace('old', 'RR')

'rushikesh'

In [36]:
s.strip('r')

'ushikesh'

In [41]:
s.split(" , ")

['rushikesh']

In [42]:
greet = 'hello world'

In [43]:
greet[1]

'e'

In [45]:
greet[0:8]

'hello wo'

In [46]:
greet[0:8:2]

'hlow'

In [47]:
greet[0::2]

'hlowrd'

In [51]:
greet[1+3]

'o'

In [52]:
greet

'hello world'

In [54]:
greet[len(greet) - 1]

'd'

In [55]:
##  operation is traversing through a string with a loop

In [62]:
for i in enumerate(greet[0:5]):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [64]:
greet[:5] + ' wonderful' + greet[5:]

'hello wonderful world'

In [65]:
x = '3'; y = '2'

x + y

'32'

In [66]:
int(x) + int(y)

5

### List []

In [67]:
s

'rushikesh'

In [74]:
l = list(s)
l

['r', 'u', 's', 'h', 'i', 'k', 'e', 's', 'h']

In [75]:
print(type(s))
print(type(l))

<class 'str'>
<class 'list'>

In [77]:
l.append('x')
print(l)

['r', 'u', 's', 'h', 'i', 'k', 'e', 's', 'h', 'x', 'x']

In [79]:
l.extend('y')
l

['r', 'u', 's', 'h', 'i', 'k', 'e', 's', 'h', 'x', 'x', 'y', 'y']

In [82]:
l.count('r')

1

In [86]:
l.index('r' )

0

In [91]:
re = l.reverse()
print(re)

None

In [94]:
print(l.sort(reverse=True))

None

In [95]:
l = [(1, 2), (3, 1), (5, 0)]
l.sort(key=lambda x: x[1])
print(l)

[(5, 0), (3, 1), (1, 2)]

In [97]:
x = 1; y=2; z=3
list = [x,y,z]

In [98]:
list2 = list

In [99]:
list[2] = 4

In [100]:
list

[1, 2, 4]

In [102]:
items = [["rise",2.4, 8], ["flour", 1.9, 5], ["Corn", 4.7, 6]]
items

[['rise', 2.4, 8], ['flour', 1.9, 5], ['Corn', 4.7, 6]]

In [106]:
for item in items:
    print("Product: %s Price: %.2f Quality: %i" % (item[0], item[1], item[2]))

Product: rise Price: 2.40 Quality: 8
Product: flour Price: 1.90 Quality: 5
Product: Corn Price: 4.70 Quality: 6

In [107]:
items[1][1] = items[1][1] * 1.2

In [108]:
items[1][1]

2.28

In [109]:
l = [2, 4, 8, 16]
[i**3 for i in l]

[8, 64, 512, 4096]

In [112]:
def f1(x):
    return x * 2
def f2(x):
    return x * 4

lst = []
for i in range(16):
    lst.append(f1(f2(i)))

print(lst)

print([f1(x) for x in range(64) if x in [f2(j) for j in range(16)]])

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120]
[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120]

In [1]:
# page no 36
list1 = [[1,2,3], [4,5,6]]
[i * j for i in list1[0] for j in list1[1]]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [4]:
words = 'My name is Rushikesh Vilas Yadav'.split()
[[i, len(i)] for i in words]

[['My', 2],
 ['name', 4],
 ['is', 2],
 ['Rushikesh', 9],
 ['Vilas', 5],
 ['Yadav', 5]]

### Functions as first class objects
-  In Python, it is not only data types that are treated as objects. Both functions and classes are
 what are known as first class objects, allowing them to be manipulated in the same ways as
 built-in data types. By definition, first class objects are:
    - Created at runtime
    - Assigned as a variable or in a data structure
    - Passed as an argument to a function
    - Returned as the result of a function
    
 In Python, the term first class object is a bit of a misnomer since it implies some sort of
 hierarchy, whereas all Python objects are essentially first class

In [9]:
def greeting(language):
    if language == 'eng':
        return 'Hello World'
    elif language == 'fr':
        return 'Bonjour le monde'
    else:
        return 'language not supported'

In [10]:
greeting("Bonjour le monde")

'language not supported'

In [11]:
l = [greeting('eng'), greeting('fr'), greeting('ger')]
l[1]

'Bonjour le monde'

In [12]:
def callf(f):
    lang = 'eng'
    return(f(lang))
callf(greeting)

'Hello World'

### Higher-order functions in python:
- Higher-order functions in Python are functions that can take other functions as arguments or return them as results.

- Ex:

        - map(): Applies a given function to all items in an input list

        - filter(): Constructs a list of elements for which a function returns true.

        - reduce(): Applies a rolling computation to sequential pairs of values in a list.
                - from functools import reduce

        - sorted(): Sorts a list based on a given function.

#### map()

In [13]:
lst = [1,2,3,4]
list(map(lambda x: x**3, lst))

[1, 8, 27, 64]

In [16]:
num = [1,2,3,4,5]
sq = list(map(lambda x: x**2, num))
sq

[1, 4, 9, 16, 25]

#### filter()

In [14]:
list(filter((lambda x: x<3), lst))

[1, 2]

In [17]:
num = [1,2,3,4,5]
even_number = list(filter(lambda x: x % 2 == 0, num))
even_number

[2, 4]

#### reduce()

In [20]:
from functools import reduce
num = [1,2,3,4,5]
product = reduce(lambda x, y: x*y, num)
product

120

#### sorted()

In [24]:
words = ["apple","banana","cherry" ]
sorted_words = sorted(words, key=lambda x:len(x))
sorted_words

['apple', 'banana', 'cherry']

In [25]:
words = ["banana", "apple", "cherry"]
sorted_words = sorted(words, key=lambda x: len(x))
print(sorted_words)  # Output: ['apple', 'cherry', 'banana']

['apple', 'banana', 'cherry']

In [26]:
words = str.split('The Longest word in this sentence')
words

['The', 'Longest', 'word', 'in', 'this', 'sentence']

In [27]:
sorted(words, key=len)

['in', 'The', 'word', 'this', 'Longest', 'sentence']

In [29]:
# Here is another example for case-insensitive sorting

sl = ['A', 'b', 'a', 'C', 'c']

sl.sort(key=str.lower)

sl

['A', 'a', 'b', 'C', 'c']

In [31]:
sl.sort()
sl

['A', 'C', 'a', 'b', 'c']

### Recursive Functions
1.  Recursion is one of the most fundamental concepts of computer science. In Python, we can
 implement a recursive function simply by calling it within its own function body. To stop a
 recursive function turning into an infinite loop, we need at least one argument that tests for
 a terminating case to end the recursion. This is sometimes called the base case. 

 2.  It should be
 pointed out that recursion is different from iteration.

 3. Although both involve repetition,
 iteration loops through a sequence of operations, whereas recursion repeatedly calls a
 function. Both need a selection statement to end.

 4. Technically, recursion is a special case of
 iteration known as tail iteration, and it is usually always possible to convert an iterative
 function to a recursive function and vice versa. 

 5.  The interesting thing about recursive
 functions is that they are able to describe an infinite object within a finite statement.

In [32]:
def iterTest(low, high):
    while low <= high:
        print(low)
        low += 1

In [39]:
ter = iterTest(0, 5)

0
1
2
3
4
5

In [40]:
def recurTest(low, high):
    if low <= high:
        print(low)
        recurTest(low+1, high)

In [41]:
rec = recurTest(0, 5)

0
1
2
3
4
5

##  Generators and co-routines

-  We can create functions that do not just return one result, but rather an entire sequence of
 results, by using the yield statement. These functions are called generators. Python
 contains generator functions, which are an easy way to create iterators and they are
 especially useful as a replacement for unworkably long lists. A generator yields items rather
 than build lists. For example, the following code shows why we might choose to use a
 generator as opposed to creating a list:

In [6]:
# Compares the running time of list compared to a generator

import time

# generator function creates an iterator of odd numbers between n and m
def oddGen(n, m):
    while n < m:
        yield n
        n = n + 2

# builds a list of odd numbers between n and m
def oddList(n,m):
    lst = []
    while n<m:
        lst.append(n)
        n = n + 2
    return lst

# the time it iakes to perform sum on an iterator

t1 = time.time()
sum(oddGen(1, 1000000))
print("Time to sum an iterator: %f" % (time.time() - t1))

# the time it takes to build and sum a list
t1 = time.time()
sum(oddList(1, 1000000))
print("Time to build and sum a list: %f" % (time.time() - t1))

Time to sum an iterator: 0.034630
Time to build and sum a list: 0.064023

In [20]:
lst1 = [1,2,3,4]
gen1 = (10**i for i in lst1)
gen1

In [21]:
for x in gen1:
    print(x)

10
100
1000
10000

#  Classes and object programming 
- **42 Page No**
-  Classes are a way to create new kinds of objects and they are central to object-oriented
 programming. A class defines a set of attributes that are shared across instances of that
 class. Typically, classes are sets of functions, variables, and properties

In [1]:

class Employee(object):
    numEmployee = 0
    def __init__(self, name, rate):
        self.owed = 0
        self.name = name
        self.rate = rate
        Employee.numEmployee += 1
    def __del__(self):
        Employee.numEmployee -= 1
    def hours(self, numHours):
        self.owed += numHours * self.rate
        return ("%.2f hours worked" % numHours)
    def pay(self):
        self.owed = 0
        return("Payed %s " % self.name)

In [3]:
emp1 = Employee('Jill', 18.50)
emp2 = Employee("Jack", 15.50)

2

In [4]:
Employee.numEmployee

2

In [6]:
emp1.hours(20)

'20.00 hours worked'

In [7]:
emp1.owed

370.0

In [8]:
emp1.pay()

'Payed Jill '

## Special Methods
- We can use the dir(object) function to get a list of attributes of a particular object. The
 methods that begin and end with two underscores are called special methods.

 - eg. __ init __, __ add __

In [9]:
class my_class():
    def __init__(self, greet):
        self.greet = greet
    def __repr__(self):
        return 'a custom object (%r)' % (self.greet)

In [10]:
a = my_class('Rushi')
a

a custom object ('Rushi')

### Inheritance
-  It is possible to create a new class that modifies the behavior of an existing class through inheritance. 

- This is done by passing the inherited class as an argument in the class definition. 

- It is often used to modify the behavior of existing methods, for example:

In [11]:
class specialEmployee(Employee):
    def hours(self, numHours):
        self.owed += numHours * self.rate * 2
        return("%.2f hours worked" % numHours)

In [ ]:
class specialEmployee(Employee):
    def __init__(self, name, rate, bonus):
        Employee.__init__(self, name, rate) # Calls the base classes
        self.bonus = bonus

    def hours(self, numHours):
        self.owed += numHours * self.rate + self.bonus
        return("%.2f hours worked" % numHours)