# 2 Python Data Types and Structures

#### Mutable and Immutable

1. **Mutable:**
    - List
    - Dict
    - Set 
2. **Immutable:**
    - Tuple
    - string
    - Int
    - float
    - key of dict

 ### Built-in data types
 - Python data types can be divided into three categories: numeric, sequence, and mapping.
 There is also the None object that represents a Null, or absence of a value.

1. **Numeric:**
    - int
        - 1, 5, 3
    - float
        - 4.6, 88.40, -2.7
    - complex 
        - 2+3j, 4-7j
    - bool
        - True, False

2. **Sequences:**
    - str
        - "rushi", 'rg', '57'
    - list
        - [1,2,4,5,"rushi",4.5]
    - Tuple
        - (1,2,4,5,"rushi",4.5)
    - range
        - range(6), range(0,6)
3. **Mapping:**
    - dict
        - {"name": "Rushi", "Surname":"Yadav", 'age':25}
    - set
        - {1,2,3}, {"apple", "banana", "cherry"}
        - Mutable, unordered collection of unique items.

In [ ]:
a = -887.4
type(a)

float

In [4]:
dicto = {"name": "Rushi", "Surname":"Yadav", 'age':25}
type(dicto)

dict

In [5]:
set1 = {1,2,3}
type(set1)

set

In [12]:
a = 2+3j
print(type(a))
print(a.conjugate())
print(a.real)
print(a.imag)

<class 'complex'>
(2-3j)
2.0
3.0

In [16]:
b = 3-44j
print(b.conjugate())
print(b.real)
print(b.imag)

(3+44j)
3.0
-44.0

In [20]:
import decimal

x = decimal.Decimal(3.14); y=decimal.Decimal(2.74)
print(x*y)
x*y

8.603600000000001010036498883

Decimal('8.603600000000001010036498883')

In [21]:
decimal.getcontext().prec = 4

In [22]:
x * y

Decimal('8.604')

In [23]:
x + y

Decimal('5.880')

In [31]:
x = decimal.Decimal(3.14)
x

Decimal('3.140000000000000124344978758017532527446746826171875')

In [32]:
x.exp()

Decimal('23.10')

In [33]:
x.ln()

Decimal('1.144')

In [34]:
x.log10()

Decimal('0.4969')

In [35]:
import fractions

fractions.Fraction(3, 4)

Fraction(3, 4)

In [36]:
fractions.Fraction(0.5)

Fraction(1, 2)

In [40]:
fractions.Fraction("0.25")

Fraction(1, 4)

In [41]:
fractions.Fraction(".25")

Fraction(1, 4)

In [44]:
t = ("a")
type(t)

str

In [45]:
t = ("a",)
type(t)

tuple

In [46]:
l = ['one', 'two']
x, y = l

In [48]:
print("x = ",x)
print("y = ",y)

x =  one
y =  two

In [49]:
x,y = y,x
print("x = ",x)
print("y = ",y)

x =  two
y =  one

In [54]:
d = {'Name': "Rushikesh", "Surname": "Yadav", "Age": 24}
d

{'Name': 'Rushikesh', 'Surname': 'Yadav', 'Age': 24}

In [55]:
len(d)

3

In [56]:
# d.clear()

In [57]:
# d

In [61]:
dict1 = d.copy()
type(dict1)

dict

In [66]:
d.fromkeys("a","g")

{'a': 'g'}

In [67]:
d

{'Name': 'Rushikesh', 'Surname': 'Yadav', 'Age': 24}

In [71]:
f = d.get("age")
f

In [72]:
d.items()

dict_items([('Name', 'Rushikesh'), ('Surname', 'Yadav'), ('Age', 24)])

In [73]:
d.keys()

dict_keys(['Name', 'Surname', 'Age'])

In [75]:
d.pop("Age")

24

In [81]:
d["Age"] = 24

In [82]:
d

{'Name': 'Rushikesh', 'Surname': 'Yadav', 'Age': 24}

In [83]:
d.values()

dict_values(['Rushikesh', 'Yadav', 24])

In [85]:
d2 ={'one':'uno' , 'two':'deux', 'three':'trois', 'four': 'quatre', 'five':'cinq', 'six':'six'}

In [86]:
d2

{'one': 'uno',
 'two': 'deux',
 'three': 'trois',
 'four': 'quatre',
 'five': 'cinq',
 'six': 'six'}

#### Dictionaries for text analysis