# 2 Python Data Types and Structures

#### Mutable and Immutable

1. **Mutable:**
    - List
    - Dict
    - Set 
2. **Immutable:**
    - Tuple
    - string
    - Int
    - float
    - key of dict

 ### Built-in data types
 - Python data types can be divided into three categories: numeric, sequence, and mapping.
 There is also the None object that represents a Null, or absence of a value.

1. **Numeric:**
    - int
        - 1, 5, 3
    - float
        - 4.6, 88.40, -2.7
    - complex 
        - 2+3j, 4-7j
    - bool
        - True, False

2. **Sequences:**
    - str
        - "rushi", 'rg', '57'
    - list
        - [1,2,4,5,"rushi",4.5]
    - Tuple
        - (1,2,4,5,"rushi",4.5)
    - range
        - range(6), range(0,6)
3. **Mapping:**
    - dict
        - {"name": "Rushi", "Surname":"Yadav", 'age':25}
    - set
        - {1,2,3}, {"apple", "banana", "cherry"}
        - Mutable, unordered collection of unique items.

In [ ]:
a = -887.4
type(a)

float

In [4]:
dicto = {"name": "Rushi", "Surname":"Yadav", 'age':25}
type(dicto)

dict

In [5]:
set1 = {1,2,3}
type(set1)

set

In [12]:
a = 2+3j
print(type(a))
print(a.conjugate())
print(a.real)
print(a.imag)

<class 'complex'>
(2-3j)
2.0
3.0

In [16]:
b = 3-44j
print(b.conjugate())
print(b.real)
print(b.imag)

(3+44j)
3.0
-44.0

In [20]:
import decimal

x = decimal.Decimal(3.14); y=decimal.Decimal(2.74)
print(x*y)
x*y

8.603600000000001010036498883

Decimal('8.603600000000001010036498883')

In [21]:
decimal.getcontext().prec = 4

In [22]:
x * y

Decimal('8.604')

In [23]:
x + y

Decimal('5.880')

In [31]:
x = decimal.Decimal(3.14)
x

Decimal('3.140000000000000124344978758017532527446746826171875')

In [32]:
x.exp()

Decimal('23.10')

In [33]:
x.ln()

Decimal('1.144')

In [34]:
x.log10()

Decimal('0.4969')

In [35]:
import fractions

fractions.Fraction(3, 4)

Fraction(3, 4)

In [36]:
fractions.Fraction(0.5)

Fraction(1, 2)

In [40]:
fractions.Fraction("0.25")

Fraction(1, 4)

In [41]:
fractions.Fraction(".25")

Fraction(1, 4)

In [44]:
t = ("a")
type(t)

str

In [45]:
t = ("a",)
type(t)

tuple

In [46]:
l = ['one', 'two']
x, y = l

In [48]:
print("x = ",x)
print("y = ",y)

x =  one
y =  two

In [49]:
x,y = y,x
print("x = ",x)
print("y = ",y)

x =  two
y =  one

In [54]:
d = {'Name': "Rushikesh", "Surname": "Yadav", "Age": 24}
d

{'Name': 'Rushikesh', 'Surname': 'Yadav', 'Age': 24}

In [55]:
len(d)

3

In [56]:
# d.clear()

In [57]:
# d

In [61]:
dict1 = d.copy()
type(dict1)

dict

In [66]:
d.fromkeys("a","g")

{'a': 'g'}

In [67]:
d

{'Name': 'Rushikesh', 'Surname': 'Yadav', 'Age': 24}

In [71]:
f = d.get("age")
f

In [72]:
d.items()

dict_items([('Name', 'Rushikesh'), ('Surname', 'Yadav'), ('Age', 24)])

In [73]:
d.keys()

dict_keys(['Name', 'Surname', 'Age'])

In [75]:
d.pop("Age")

24

In [81]:
d["Age"] = 24

In [82]:
d

{'Name': 'Rushikesh', 'Surname': 'Yadav', 'Age': 24}

In [83]:
d.values()

dict_values(['Rushikesh', 'Yadav', 24])

In [85]:
d2 ={'one':'uno' , 'two':'deux', 'three':'trois', 'four': 'quatre', 'five':'cinq', 'six':'six'}

In [86]:
d2

{'one': 'uno',
 'two': 'deux',
 'three': 'trois',
 'four': 'quatre',
 'five': 'cinq',
 'six': 'six'}

#### Dictionaries for text analysis

 A common use of dictionaries is to count the occurrences of like items in a sequence; a
 typical example is counting the occurrences of words in a body of text. The following code
 creates a dictionary where each word in the text is used as a key and the number of
 occurrences as its value. This uses a very common idiom of nested loops. Here we are using
 it to traverse the lines in a file in an outer loop and the keys of a dictionary on the inner
 loop

In [4]:
def wordcount(fname):
    try:
        fhand=open(fname)
    except:
        print("File cannot be opened")
        exit()
    count = dict()
    for line in fhand:
        words = line.split()
        for word in words:
            if word not in count:
                count[word] = 1
            else:
                count[word] += 1
    return(count)

In [5]:
wordcount("test.txt")

{'Rushikesh,': 1,
 'Rushikesh': 1,
 'yadav': 3,
 'new': 4,
 'ne': 1,
 'jdfjdf': 1,
 'jfdf': 2}

### Sets:  
- set4[4] 
- Sets are unordered collections of unique items.
- Sets are themselves mutable, we can add and remove items from them;
- however, the items themselves must be immutable.
- An important distinction with sets is that they cannot contain duplicate items. 
- Sets are typically used to perform mathematical operations such as intersection, union, difference, and complement.

- set ----> Mutable (We can modify )
- frozenset ----> Immutable (We can not modify)

In [9]:
set1 = {1,2,5,4}
print(type(set1))

set2 = {}   # cannot create empty set using curly braces
print(type(set2))

set3 = set()
print(type(set3))

<class 'set'>
<class 'dict'>
<class 'set'>

In [12]:
list4 = [1,2,3,1,2,8,6]   
print(list4)      
print(list4[3])   # Orderd collection

[1, 2, 3, 1, 2, 8, 6]

In [18]:
set4 = {1,2,3,1,2,8,6}
print(set4)       # Sets unique items collection
# print(set4[4])    # TypeError: 'set' object is not subscriptable
                  # Sets are unorderd collection of items

{1, 2, 3, 6, 8}

In [14]:
set_frozenset = frozenset([1,2,3,1,2,8,6])
print(set_frozenset)

frozenset({1, 2, 3, 6, 8})

In [15]:
type(set_frozenset)

frozenset

In [2]:
## 60
s = set([1,2,3,1,2,8,6])

In [5]:
s.add(7)
s

{1, 2, 3, 6, 7, 8}

In [7]:
s_copy = s.copy()

### difference: It gives unique values in first_set

In [8]:
t = {1,2,5,9,10,1}
s.difference(t)

{3, 6, 7, 8}

### Intersection:
- Return a set of all 'common' items in both first_set and Second_set

In [12]:
print(f"first set: ",s)
print(f"second set: ",t)
print(f"Intersection: ",s.intersection(t))

first set:  {1, 2, 3, 6, 7, 8}
second set:  {1, 2, 5, 9, 10}
Intersection:  {1, 2}

### isdisjoint: 
- Return "True" if first_set and 'second_set' are no same values ()

In [14]:
s = {3,8,6}# set([1,2,3,1,2,8,6])
t = {1,2,5,9,10,1}
s.isdisjoint(t)

True

### issubset:
-  Returns True if all items in first_set are also in second_set

- A subset is a set where all its elements are also contained within another set.

In [21]:
s = set([1,2,3,1,2,8,6])
t = {1,2,3} #{1,2,5,9,10,1}
print("First Set: ", s)
print("Second Set: ", t)
s.issubset(t)

First Set:  {1, 2, 3, 6, 8}
Second Set:  {1, 2, 3}

False

In [22]:
s = set([1, 2, 3])
t = {1, 2, 3, 8, 6}
print("First Set: ", s)
print("Second Set: ", t)
print(s.issubset(t))

First Set:  {1, 2, 3}
Second Set:  {1, 2, 3, 6, 8}
True

#### issuperset:
- Returns True if all items in t are also
 in

In [23]:
s = set([1, 2, 3])
t = {1, 2, 3, 8, 6}
print("First Set: ", s)
print("Second Set: ", t)
print(s.issuperset(t))

First Set:  {1, 2, 3}
Second Set:  {1, 2, 3, 6, 8}
False

In [24]:
s = set([1,2,3,1,2,8,6])
t = {1,2,3} #{1,2,5,9,10,1}
print("First Set: ", s)
print("Second Set: ", t)
s.issuperset(t)

First Set:  {1, 2, 3, 6, 8}
Second Set:  {1, 2, 3}

True

### symmetric_difference: 
-  Returns a set of all items that are in s
 or t, but not both

In [28]:
s = set([1,2,3,1,2,8,6])
t = {1,2,5,9,10,1}
s.symmetric_difference(t)

{3, 5, 6, 8, 9, 10}

### union
- Returns a set of all items in s or t

In [29]:
s.union(t)

{1, 2, 3, 5, 6, 8, 9, 10}

In [30]:
s

{1, 2, 3, 6, 8}

In [32]:
s.add(15)
s

{1, 2, 3, 6, 8, 15}

In [35]:
s.clear()
s

set()

In [56]:
s = set([1,2,3,1,2,8,6])

In [57]:
s

{1, 2, 3, 6, 8}

In [59]:
s.pop()

1

In [60]:
s

{2, 3, 6, 8}

In [61]:
s.remove(8)

In [62]:
s

{2, 3, 6}